:root {
    --main-gold: #BFA27B;
    --dark-gold: #AF935C;
    --figma-bg: #F4F4F4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: 'Cormorant', serif;
    font-size: 16px;
    display: flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    /* padding: 0 0px; */
}

.catalog-tabloids {
    background-color: var(--figma-bg);
    width: 80%;
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: end;
    padding: 40px;
    /* gap: 30px; */
    /* flex-wrap: wrap; */
}

.catalog-title {
    font-size: 2em;
    align-self: flex-start;

}

/* Base de los Tabloides */
.tabloid {
    padding: 60px 30px;
    border-radius: 225px 225px 0 0; /* Forma de arco */
    position: relative; /* Para posicionar elementos internos */
    overflow: hidden;  /* Para asegurar que los elementos no se salgan del contenedor */
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    font-size: 1.2em;
}

.long-tabloid {
    width: 450px;
    height: 650px;
    background-color: var(--main-gold);
    color: white;
}

.short-tabloid {
    width: 420px;
    height: 500px;
    background-color: white;
    color: var(--main-gold);
}

/* Header y Logo */
.tabloid-header {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-bottom: 30px;
}

.logo {
    width: 140px;
}

/* Secciones y Títulos */
.tabloid-sections {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.tabloid-section-title {
    font-family: 'Cinzel', serif;
    font-size: 1.8em;
    text-align: center;
    letter-spacing: -11%;
    font-weight: 200;
}

/* Tablas de Precios */
.tabloid-table {
    width: 100%;
    border-collapse: collapse;
}

.tabloid-table th, .tabloid-table td {
    padding: 0px 0;
    font-size: 1em;
    font-weight: 300;
}


.double-price-table td:first-child {
    width: 70%;
}

.double-price-table td:not(:first-child) {
    width: 15%;
}


.single-price-table td:first-child {
    width: 70%;
}

.single-price-table td:not(:first-child) {
    width: 30%;
}

.experience {
    text-align: left;
}

.price, .spa-price {
    text-align: right;
    white-space: nowrap;
}

/* Estilo específico para la cabecera "Spa" */
.spa-column {
    font-family: 'Cinzel', serif;
    font-size: 1.2rem;
    text-align: center;
}

/* Notas al pie */
.tabloid-note {
    font-size: 0.75rem;
    margin-top: 10px;
    opacity: 0.9;
    font-style: italic;
}

.tabloid-bg-elements {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 50%;
    pointer-events: none;
    z-index: 1;
}

.palm-tree {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 80%;
    max-width: 320px;
    opacity: 0.8; /* Efecto marca de agua */
    /* transform-origin: center bottom; */
}

.long-tabloid-palm-tree {
    right: -5%;
    bottom: -5%;
}

.short-tabloid-palm-tree {
    right: 38%;
    bottom: 100%;
    transform: rotate(180deg);
}

/* Media Query para móviles */
@media (max-width: 500px) {
    .long-tabloid, .short-tabloid {
        width: 100%;
        padding: 40px 25px;
        border-radius: 150px 150px 0 0;
        min-height: auto;
    }
}
